@import url(http://weloveiconfonts.com/api/?family=fontawesome);
 
 
 //ref http://www.pascalvangemert.nl/#/profile
 //#F3ECEC
 

.fa-angle-double-down:before {content: "\f103";}
 
.fa-angle-double-down{
	color:white;
	font-size:60px;
	
}
 
.bounce {
	
 position: absolute;
 bottom: 30px;
 left: 50% ;
 width: 60px;
 height: 60px ;
 margin-left:-30px;
 border: 2px solid white;
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 -ms-border-radius:50%;
 border-radius:50%;
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}


body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	background-color: #F3ECEC;
}
h1 {
}
h1 strong {
	font-weight: 900;
}
h2 {
	line-height: 20px;
	margin: 0;
}
h3 {
	font-size: 18px;
	font-weight: 500;
	color: #444;
	text-transform: uppercase;
}
h4 {
	font-size: 22px;
	//text-transform: uppercase;
	font-weight: 600;
	color: #444;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	color: #555;
	font-size: 15px;
}

.six-sec-ease-in-out {
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
}
.progress  {
    height:22px;
}
.clearfix{
	display: inline-block;
	position: relative;
	padding-top: 210px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 90px;
}
/*
.button {	
	
	 background-color: transparent; 
    //color: black; 
    border: 2px solid #f44336;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
	border-radius: 15px;
}
.button a{
	font-size: 15px;
	 color: white;
}
.button:hover {
	 background-color: #f44336;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24),0 17px 50px 0 rgba(255,255,255,0.19);
}
*/


.img-centered {
	margin: 0 auto;
}
/* Navigation */
.navbar  { border: 1px; background-color: #000000; position: fixed; top: 60px; left: 5%; width: 110px; z-index:800;transition: all 0.8s; border-radius:5%}
.navbar .navbar-collapse { padding: 0px; max-height: none; }
.navbar .navbar-nav { float: none; }
.navbar-nav { margin: 0px; }
.navbar .nav > li { display: block; float: none; height: 80px; background-color:#26242A;;} 
.navbar .nav > li a { display: block;  height: 80px; text-align: center; padding-top: 30px; font-weight: 600; color: #FFFFFF; }
.navbar .nav > li a:hover, .navbar .nav > li a:focus { background-color:#26242A; color: #999999; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { 
	 background: #26242A; color: #f38181; }
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar { background-color:#000000;background:#f38181; }

.fixed .navbar  { position: fixed; top: 60px; }



/* Home Style */
header {
	background: url(../jpg/home.jpg) no-repeat bottom center;
	background-size: cover;
	color: #cfcfcf;
	position: relative;
	height: 100%;
}
header p {
	color: #ffffff;
	font-size: 18px;
	//text-transform: uppercase;
	margin-bottom: 60px;
	letter-spacing: 2px;
}
.intro-text {
	position: relative;
	padding-top: 100px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 240px;
}
.intro-text H1 {
	font-size: 50px;
	//text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 500;
}
.intro-text .brand {
	font-weight: 700;
}
.btn-default {
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
	margin: 0 8px;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 0;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: rgba(245,152,152,0.8);
	border: 2px solid rgba(245,152,152,0.2);
	color: #fff;
}




#profile_section {
	padding: 80px 0;
	background: #fff;
}
#profile_section .color {
	color: #f38181;
}

#experience-section {
	padding: 10px 0;
	background-color: #F7F2F2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F2F2), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #F7F2F2, #ffffff);
  background-image:    -moz-linear-gradient(top, #F7F2F2, #ffffff);
  background-image:      -o-linear-gradient(top, #F7F2F2, #ffffff);
  background-image:         linear-gradient(to bottom, #F7F2F2, #ffffff);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f2f2', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */

}

#experience-section .color {
	color: #f38181;
}

#abilities_section {
	padding: 20px 0;
	//background-color: #fff;
}
#abilities_section .color {
	color: #f38181;
}


/* Team Section #F7F2F2*/
#team-section {
	padding: 100px 0;
}
.section-title.center {
	padding: 30px 0;
}
.section-title h2, .section-title.center h2 {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 20px;
	color: #444;
	text-transform: uppercase;
}
/* Gallery Section 
==============================*/
#project-section {
	padding: 100px 0 0 0;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	color: #777;
	padding: 4px 8px;
	text-transform: uppercase;
}
ol.type li a.active {
	color: #ffffff;
	background: #f59898;
}
ol.type li a:hover {
	color: #ffffff;
	background: #f59898;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.project-item {
	margin-bottom: 30px;
}
.project-item .hover-bg {
	max-height: 300px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(245, 152, 152, 0.9);
	padding: 25% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text p {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	color: #fff;
	font-size: 24px;
	font-weight: 500;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#works-section i.fa {
	height: 30px;
	width: 30px;
	border: 1px solid rgba(25,181,254,0.3);
	font-size: 20px;
	padding: 5px;
	border-radius: 50%;
	color: #19B5FE;
}
.project-modal .modal-content {
	padding: 100px 0;
	min-height: 100%;
	border: 0;
	border-radius: 0;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+50,f6f6f6+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 50%, #f6f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 50%, #f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 50%, #f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0 ); /* IE6-9 */
}
.project-modal .modal-content h2 {
	margin-bottom: 15px;
	font-size: 36px;
	font-weight: 600;
}
.project-modal .modal-content p {
	margin-bottom: 30px;
	font-size: 15px;
}
.project-modal .modal-content p.item-intro {
	margin: 20px 0 30px;
	font-style: italic;
	font-size: 16px;
}
.project-modal .modal-content ul.list-inline {
	margin-top: 0;
	margin-bottom: 30px;
}
.project-modal .modal-content ul.list-inline span {
	font-weight: 600;
}
.project-modal .modal-content img {
	margin-bottom: 30px;
}
.project-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	background-color: transparent;
	cursor: pointer;
}
.project-modal .close-modal:hover {
	opacity: .3;
}
.project-modal .close-modal .lr {
	z-index: 1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	background-color: #222;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.project-modal .close-modal .lr .rl {
	z-index: 1052;
	width: 1px;
	height: 75px;
	background-color: #222;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.project-modal .btn-primary {
	color: #777;
	background-color: transparent;
	border: 2px solid #ddd;
	border-radius: 0;
}
.project-modal .btn-primary:hover, .project-modal .btn-primary:focus, .project-modal .btn-primary.focus, .project-modal
 .btn-primary:active, .project-modal .btn-primary.active {
	color: #fff;
	background-color: #f59898;
	border: 2px solid #f59898;
}
/* Achivements Section */
#achievements {
	padding: 0 0 50px 0;
	background: #CCCCCC;
}
.achievement-box i.fa {
	font-size: 54px;
	font-weight: 400;
	color: #19B5FE;
	margin-bottom: 20px;
}
.achievement-box h4 {
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
}
.achievement-box span.count {
	font-size: 52px;
	font-weight: 600;
	display: block;
	color: #fff;
}
/* Testimonials Section */
#testimonials-section {
	padding: 100px 0 60px 0;
	background: url(../img/testimonials-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
}
#testimonials-section i.fa {
	color: #8e9599;
	font-size: 36px;
}
#testimonial {
	padding: 30px 0;
}
#testimonial .item {
	display: block;
	width: 100%;
	height: auto;
}
#testimonial img {
	width: 140px;
	height: 140px;
}
#testimonial .item p {
	font-weight: 400;
	margin: 30px 0;
	color: #444;
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 14px;
	height: 14px;
	margin: 5px 7px;
	filter: Alpha(Opacity=1);
	opacity: 1;
	border-radius: 0;
	background: #fff;
	transition: all 0.5s;
	border: 1px solid #bfc3c6;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
	background: #f59898;
	border: 1px solid #f59898;
}
.owl-theme .owl-controls .owl-page.active span {
	background: #f59898;
	border: 1px solid #f59898;
}
/* Contact Section */
#contact-section {
	padding: 100px 0 80px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+50,f6f6f6+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 50%, #f6f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 50%, #f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 50%, #f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0 ); /* IE6-9 */
}
#contact-section h3 {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}
#contact-section form {
	padding: 30px 0;
}
#contact-section i.fa {
	color: #ccc;
	margin-right: 20px;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact-section .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 2px solid #ddd;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact-section .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#contact-section .btn {
	background: #fbfbfb;
	border: 2px solid #ccc;
	padding: 10px 20px;
	margin-top: 20px;
	margin-left: 0;
	color: #aaa;
	font-size: 15px;
}
#contact-section .btn:hover, #contact-section .btn:focus {
	background: #f59898;
	border: 2px solid #f59898;
	color: #fff;
}
#contact-section .text-danger {
	color: #cc3300;
	text-align: left;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Social Section */
#social-section {
	padding: 35px 0 25px 0;
	background-color: #e6e6e6;
	text-align: center;
}
#social-section .social ul li {
	display: inline-block;
	margin: 0 30px;
}
#social-section .social i.fa {
	color: #f59898;
	font-size: 26px;
	padding: 8px 0;
	width: 40px;
	height: 40px;
	transition: all 0.5s;
}
#social-section .social i.fa:hover {
	color: #fff;
	background: #f59898;
}
/* Footer */
#footer {
	background: #f6f6f6;
	padding: 15px 0 10px 0;
}
#footer p {
	font-size: 13px;
	margin-top: 10px;
	color: #888;
}

@media (max-width: 768px) {
.content {
	padding: 40% 0 0;
}
#menu.navbar-default {
	background-color: rgba(0, 0, 0, 0.3);
}
}

@media (max-width: 603px) {
label {
	float: none !important
}
.hover-bg .hover-text {
	padding: 12% 0;
}
}

@media (max-width: 360px) {
.hover-bg .hover-text {
	padding: 22% 10%;
}
}
